<app-sidebar></app-sidebar>

<body>
  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel-heading">
          <h3>{{vehicle.name}} Details</h3>
        </div>
        <table class="table table-striped table-bordered table-hover">
          <thead>
          </thead>

          <tbody>
            <tr>
              ID :
              <td>
                {{vehicle.id}} </td>
            </tr>
            <tr>
              Type
              <td>
                {{vehicle.type}} </td>
            </tr>
            <tr>
              Active:
              <td>
                {{vehicle.active}} </td>
            </tr>
            <tr>
              Number of stages:
              <td>
                {{vehicle.stages}} </td>
            </tr>
            <tr>
              Boosters:
              <td>
                {{vehicle.boosters}} </td>
            </tr>
            <tr>
              Cost per launch:
              <td>
                {{vehicle.cost_per_launch}} </td>
            </tr>
            <tr>
              Success Rate:
              <td>
                {{vehicle.success_rate_pct}} </td>
            </tr>

            <tr>
              Company:
              <td>
                {{vehicle.company}} </td>
            </tr>
            <tr>
              Country:
              <td>
                {{vehicle.country}} </td>
            </tr>
            <tr>
              Height:
              <td>
                <ul>
                  <li>{{vehicle.height.meters}} m </li>
                  <li>{{vehicle.height.feet}} ft</li>
                </ul>
              </td>

            </tr>
            <tr>
              Diameter:
              <td>
                <ul>
                  <li>{{vehicle.diameter.meters}} m </li>
                  <li>{{vehicle.diameter.feet}} ft</li>
                </ul>
              </td>

            </tr>
            <tr>
              Mass:
              <td>
                <ul>
                  <li>{{vehicle.mass.kg}} kg </li>
                  <li>{{vehicle.mass.lb}} lb</li>
                </ul>
              </td>

            </tr>
            <tr>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
