body {    
    position: absolute;
    z-index: 1000;
    left: 200px;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    background-color: rgb(243, 241, 241);
}
  a{
    color: rgb(0, 2, 128)
  }
  a:hover {
      text-decoration: underline;
      color: rgb(100, 111, 160);
      cursor: pointer;
  }
  
  img {
    
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
  }
  div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  }
  
  div.dataTables_length select {
  width: 75px;
  display: inline-block;
  }
  
  div.dataTables_filter {
  text-align: right;
  }
  
  div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
  }
  
  div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  }
  
  div.dataTables_info {
  padding-top: 8px;
  white-space: nowrap;
  }
  
  div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
  }
  
  div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
  }
  
  @media screen and (max-width: 767px) {
  div.dataTables_length,
  div.dataTables_filter,
  div.dataTables_info,
  div.dataTables_paginate {
    text-align: center;
  }
  }
  
  
  table.dataTable td,
  table.dataTable th {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  }
  
  
  table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  }
  
  table.dataTable thead .sorting,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_desc,
  table.dataTable thead .sorting_asc_disabled,
  table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  }
  
  
  table.dataTable thead > tr > th {
  padding-left: 18px;
  padding-right: 18px;
  }
  
  table.dataTable th:active {
  outline: none;
  }
  
  /* Scrolling */
  div.dataTables_scrollHead table {
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  }
  
  div.dataTables_scrollHead table thead tr:last-child th:first-child,
  div.dataTables_scrollHead table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  }
  
  div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  }
  
  div.dataTables_scrollBody tbody tr:first-child th,
  div.dataTables_scrollBody tbody tr:first-child td {
  border-top: none;
  }
  
  div.dataTables_scrollFoot table {
  margin-top: 0 !important;
  border-top: none;
  }
  
  /* Frustratingly the border-collapse:collapse used by Bootstrap makes the column
   width calculations when using scrolling impossible to align columns. We have
   to use separate
  */
  table.table-bordered.dataTable {
  border-collapse: separate !important;
  }
  table.table-bordered thead th,
  table.table-bordered thead td {
  border-left-width: 0;
  border-top-width: 0;
  }
  table.table-bordered tbody th,
  table.table-bordered tbody td {
  border-left-width: 0;
  border-bottom-width: 0;
  }
  table.table-bordered th:last-child,
  table.table-bordered td:last-child {
  border-right-width: 0;
  }
  div.dataTables_scrollHead table.table-bordered {
  border-bottom-width: 0;
  }
  
  
  
  
  /*
  * TableTools styles
  */
  .table.dataTable tbody tr.active td,
  .table.dataTable tbody tr.active th {
  background-color: #08C;
  color: white;
  }
  
  .table.dataTable tbody tr.active:hover td,
  .table.dataTable tbody tr.active:hover th {
  background-color: #0075b0 !important;
  }
  
  .table.dataTable tbody tr.active th > a,
  .table.dataTable tbody tr.active td > a {
  color: white;
  }
  
  .table-striped.dataTable tbody tr.active:nth-child(odd) td,
  .table-striped.dataTable tbody tr.active:nth-child(odd) th {
  background-color: #017ebc;
  }
  
  table.DTTT_selectable tbody tr {
  cursor: pointer;
  }
  
  div.DTTT .btn:hover {
  text-decoration: none !important;
  }
  
  ul.DTTT_dropdown.dropdown-menu {
  z-index: 2003;
  }
  
  ul.DTTT_dropdown.dropdown-menu a {
  color: #333 !important; /* needed only when demo_page.css is included */
  }
  
  ul.DTTT_dropdown.dropdown-menu li {
  position: fixed;
  }
  
  ul.DTTT_dropdown.dropdown-menu li:hover a {
  background-color: #0088cc;
  color: white !important;
  }
  
  div.DTTT_collection_background {
  z-index: 2002;	
  }
  
  /* TableTools information display */
  div.DTTT_print_info {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 150px;
  margin-left: -200px;
  margin-top: -75px;
  text-align: center;
  color: #333;
  padding: 10px 30px;
  opacity: 0.95;
  
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  }
  
  div.DTTT_print_info h6 {
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  margin: 1em;
  }
  
  div.DTTT_print_info p {
  font-size: 14px;
  line-height: 20px;
  }
  
  div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 60px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
  }
  
  
  
  /*
  * FixedColumns styles
  */
  div.DTFC_LeftHeadWrapper table,
  div.DTFC_LeftFootWrapper table,
  div.DTFC_RightHeadWrapper table,
  div.DTFC_RightFootWrapper table,
  table.DTFC_Cloned tr.even {
    background-color: white;
    margin-bottom: 0;
  }
  
  div.DTFC_RightHeadWrapper table ,
  div.DTFC_LeftHeadWrapper table {
  border-bottom: none !important;
    margin-bottom: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  
  div.DTFC_RightHeadWrapper table thead tr:last-child th:first-child,
  div.DTFC_RightHeadWrapper table thead tr:last-child td:first-child,
  div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
  div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  
  div.DTFC_RightBodyWrapper table,
  div.DTFC_LeftBodyWrapper table {
    border-top: none;
    margin: 0 !important;
  }
  
  div.DTFC_RightBodyWrapper tbody tr:first-child th,
  div.DTFC_RightBodyWrapper tbody tr:first-child td,
  div.DTFC_LeftBodyWrapper tbody tr:first-child th,
  div.DTFC_LeftBodyWrapper tbody tr:first-child td {
    border-top: none;
  }
  
  div.DTFC_RightFootWrapper table,
  div.DTFC_LeftFootWrapper table {
    border-top: none;
    margin-top: 0 !important;
  }
  
  
  /*
  * FixedHeader styles
  */
  div.FixedHeader_Cloned table {
  margin: 0 !important
  }
  
  table.dataTable.dtr-inline.collapsed tbody td:first-child,
  table.dataTable.dtr-inline.collapsed tbody th:first-child {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  }
  table.dataTable.dtr-inline.collapsed tbody td:first-child:before,
  table.dataTable.dtr-inline.collapsed tbody th:first-child:before {
  top: 8px;
  left: 4px;
  height: 16px;
  width: 16px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 16px;
  text-align: center;
  line-height: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  content: '+';
  background-color: #31b131;
  }
  table.dataTable.dtr-inline.collapsed tbody td:first-child.dataTables_empty:before,
  table.dataTable.dtr-inline.collapsed tbody th:first-child.dataTables_empty:before {
  display: none;
  }
  table.dataTable.dtr-inline.collapsed tbody tr.parent td:first-child:before,
  table.dataTable.dtr-inline.collapsed tbody tr.parent th:first-child:before {
  content: '-';
  background-color: #d33333;
  }
  table.dataTable.dtr-inline.collapsed tbody tr.child td:before {
  display: none;
  }
  table.dataTable.dtr-column tbody td.control,
  table.dataTable.dtr-column tbody th.control {
  position: relative;
  cursor: pointer;
  }
  table.dataTable.dtr-column tbody td.control:before,
  table.dataTable.dtr-column tbody th.control:before {
  top: 50%;
  left: 50%;
  height: 16px;
  width: 16px;
  margin-top: -10px;
  margin-left: -10px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 16px;
  text-align: center;
  line-height: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  content: '+';
  background-color: #31b131;
  }
  table.dataTable.dtr-column tbody tr.parent td.control:before,
  table.dataTable.dtr-column tbody tr.parent th.control:before {
  content: '-';
  background-color: #d33333;
  }
  table.dataTable tr.child {
  padding: 0.5em 1em;
  }
  table.dataTable tr.child:hover {
  background: transparent !important;
  }
  table.dataTable tr.child ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  table.dataTable tr.child ul li {
  border-bottom: 1px solid #efefef;
  padding: 0.5em 0;
  white-space: nowrap;
  }
  table.dataTable tr.child ul li:first-child {
  padding-top: 0;
  }
  table.dataTable tr.child ul li:last-child {
  border-bottom: none;
  }
  table.dataTable tr.child span.dtr-title {
  display: inline-block;
  min-width: 75px;
  font-weight: bold;
  }
  
  
  .onoffswitch {
  position: relative; width: 90px;
  }
  .onoffswitch-checkbox {
  display: none;
  }
  .onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
  }
  .onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
  }
  .onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
  }
  .onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #34A7C1; color: #FFFFFF;
  }
  .onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE; color: #f1f1f1;
  text-align: right;
  }
  .onoffswitch-switch {
  display: block; width: 18px; margin: 6px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 56px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.3s ease-in 0s;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  }
  
  .rounded-btn {
  -webkit-border-radius: 10px;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(102, 95, 95);
  border: 2px solid rgba(255, 255, 255, 0.8);
  font-size: 15px;
  line-height: 25px;
  padding: 0 25px;
  }
  
  .rounded-btn:hover, .rounded-btn:focus, .rounded-btn:active, .rounded-btn:visited {
  color: white;
  border: 2px solid white;
  outline: none;
  }
  /* td{
    font-family: Helvetica, sans-serif;
    font-variant: small-caps;
    
    padding-left: 20px;
  }
  tr{
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
 h3{
  font-family: "Helvetica Neue";
	font-size: 19px;
	font-style: italic;
	font-variant: normal;
	font-weight: 700;
 } */