<app-sidebar></app-sidebar>
<body>
  <div>
      <div class="row">
          <div class="col-lg-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3>Shuttles</h3>
                  </div>
                  <div class="panel-body">
                      <div class="dataTable_wrapper">
                          <table class="table table-striped table-bordered table-hover">
                              <thead>
                                  <tr>
                                      <th>Vehicle ID</th>
                                      <th>Vehicle Name </th>
                                      <th> Vehicle Type</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let vehicle of vehicle" class="odd gradeX">
                                       <td [routerLink]="['/vehicle',vehicle.id]">
                                          <span>{{vehicle.id}}</span>
                                      </td>
                                      <td>
                                          <span>{{vehicle.name}}</span>
                                      </td>
                                      <td>
                                          <span>{{vehicle.type}}</span>
                                      </td>
                                  </tr>        
                               
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>