<app-sidebar></app-sidebar>
<body>
  <div>
      <div class="row">
          <div class="col-lg-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3>Launchpad</h3>
                  </div>
                  <div class="panel-body">
                      <div class="dataTable_wrapper">
                          <table class="table table-striped table-bordered table-hover">
                              <thead>
                                  <tr>
                                      <th>Luanchpad ID</th>
                                      <th>Launchpad full Name </th>
                                      <th>Status</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let launchpad of launchpad" class="odd gradeX">
                                
                                      <td [routerLink]="['/launchpad',launchpad.id]">
                                          <span>{{launchpad.id}}</span>
                                      </td>
                                      <td>
                                          <span>{{launchpad.full_name}}</span>
                                      </td>
                                      <td>
                                          <span>{{launchpad.status}}</span>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>